server {
    listen 80;
    server_name tw.api.dingi.work;

    location = /favicon.ico { access_log off; log_not_found off; }

    location /static/ {
        root /home/ubuntu/teamwork;
    }

    location / {
        include proxy_params;
        proxy_pass http://unix:/home/ubuntu/teamwork/conf.sock;
    }
}